
  
        <label for="name" class="label">Name</label>
        <input required type="text" name="name" class="input is-warning" type="text">
        <label for="comment" class="label">Comment</label>
        <textarea required name="comment" class="textarea is-warning"></textarea>
        <button type="submit" class="button is-warning is-light">Submit</button>
