
   <div class="field">
        <label for="name" class="label has-text-left has-text-info">Name</label>
        <input required type="text" name="name" class="input is-info" type="text">
        <label for="comment" class="label has-text-left has-text-info">Comment</label>
        <textarea required name="comment" class="textarea is-info"></textarea>
        <button type="submit" class="button is-info is-light mt-5">Submit</button>
    </div>
