        <div class="field">
        <label for="title" class="label label-color-info">Title</label>
        <div class="control">
        <input required type="text" name="title" class="input is-warning" type="text" value="<%= article.title %>">
        </div>
        <label for="content" class="label has-text-info">Content</label>
        <div class="control">
        <textarea required name="content" class="textarea is-info"><%= article.content %></textarea>
        </div>
        <button type="submit" class="button is-info is-light">Submit</button>
        <a href="/" class="button is-info is-light">Back to home</a>
        </div>

