
  
        <label for="title" class="label">Title</label>
        <input required type="text" name="title" class="input is-warning" type="text" value="<%= article.title %>">
        <label for="content" class="label">Content</label>
        <textarea required name="content" class="textarea is-warning"><%= article.content %></textarea>
        <button type="submit" class="button is-warning is-light">Submit</button>
        <a href="/" class="button is-warning is-light">Back to home</a>
